.c-button {
  height: auto;
  background-color: #39b3bf;
  border-radius: 4px;
  padding: 11px 20px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  color: white;
  border: 0;
  outline: 0;
}
