.c-input-form {
  &__error {
    color: red;
    font-size: 15px;
  }

  label {
    color: gray;
    font-weight: bold;
  }

  &__form-container {
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;

    @media all and (min-width: 768px) {
      padding: 50px;
      max-width: 500px;
    }
  }

  .c-button {
    @media all and (min-width: 768px) {
      margin-top: 30px;
      text-align: center;
      width: 100%;
    }
  }
}
