.input-field {
  input {
    display: block;
    background: #f7f1f1;
    font-size: 12px;
    outline: none;
    height: 2rem;
    width: 100%;
    border-radius: 3px;
    box-sizing: border-box;
    border: 0;
    padding: 25px 20px;
    margin: 10px 0;
    &:focus {
      outline: 2px dotted #39b3bf;
      outline-offset: 4px;
    }
  }

  &__error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
  }
}
