.c-app {
  margin: 10%;
  &__table-wrapper {
    margin-top: 30px;
    overflow-x: auto;
  }
}

.c-table {
  width: 100%;
  margin-top: 20px;
}

th {
  border-bottom: 1px solid #ddd;
  background-color: #3cb3c9;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  font-weight: 100;
}

h1 {
  color: #3cb3c9;
  font-weight: 100;
  text-align: center;
  @media all and (min-width: 768px) {
    font-size: 60px;
  }
}

@media all and (min-width: 768px) {
  label {
    display: inline-block;
    margin-top: 20px;
  }
}
